:root {
  background-color: white;
  --bg-color:#03045e;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: var(--bg-color);
}

.dropdown{
  align-self: center;
}

.light {
  background-color: white;
  --bg-color:#03045e;
}

.dark {
  background-color: #000d15;
  --bg-color: #000;
}

.blue {
  background-color: #0ef;
  --bg-color:#00607a;
}

.red {
  background-color: #660708;
  --bg-color:#230000;
}

/* hero */
.hero{
  margin-top: 80px;
}

.list-btn{
  background-color: var(--bg-color);
  color: white;
}